

.main__photo {
    margin-top: 100px;
    width: 400px;
}



.btn {
width: 306px;
height: 122px;
border-radius: 30px;
background: #000;
color: #FFF;
font-size: 55px;
font-family: Inter;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.btns {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 200px;
    width: 80vw;
    
}



.main__title{
display: flex;
flex-direction: column;
color: #000;
font-size: 100px;
font-family: Inter;
font-weight: 700;
margin-top: 100px;
}

