* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v153_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v153_3 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,255,178,1), rgba(118,244,59,0.7260417938232422));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v153_4 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v159_3 {
  width: 574px;
  height: 483px;
  background: url("./v159_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 762px;
  overflow: hidden;
}
.v160_55 {
  width: 284px;
  height: 142px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 655px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v160_56 {
  width: 284px;
  height: 142px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 1049px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v160_61 {
  width: 283px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 824px;
  left: 656px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v160_65 {
  width: 283px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 824px;
  left: 1050px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v159_2 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
