* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v78_5 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_6 {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(217, 217, 217, 0.908333) 0.01%, #33FF00 0.02%, rgba(0, 255, 209, 0.547926) 50.83%, rgba(82, 0, 255, 0.5) 100%);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_7 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 75px;
  opacity: 1;
  text-align: left;
}
.v78_8 {
  width: 394px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 284px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v143_3 {
  width: 630px;
  height: 632px;
  background: url("./v143_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 730px;
  overflow: hidden;
}
.v148_4 {
  width: 294px;
  height: 132px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 350px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v148_9 {
  width: 294px;
  height: 132px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 545px;
  left: 350px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v148_13 {
  width: 220px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 559px;
  left: 405px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v148_11 {
  width: 220px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 335px;
  left: 405px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 75px;
  opacity: 1;
  text-align: left;
}
