* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v78_19 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_20 {
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #FF1F00 0%, rgba(255, 0, 0, 0.5) 100%);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_21 {
  width: 878px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: left;
}
.v78_22 {
  width: 402px;
  height: 232px;
  background: url("./v78_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 955px;
  overflow: hidden;
}
.v78_45 {
  width: 100%;
  height: 113px;
  background: url("./v78_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 55px;
  opacity: 1;
  position: absolute;
  top: 598px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v78_50 {
  width: 965px;
  height: 113px;
  background: url("./v78_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 55px;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
