<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrazyMvicat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap-grid.min.css"
      integrity="sha512-EAgFb1TGFSRh1CCsDotrqJMqB2D+FLCOXAJTE16Ajphi73gQmfJS/LNl6AsjDqDht6Ls7Qr1KWsrJxyttEkxIA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/math.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1 class="main__title">What Grade Are You In?</h1>
        </div>
        <div class="col-4">
          <img src="img/hat.png" alt="" class="main__photo" />
        </div>
        <div class="col-12">
          <div class="btns">
            <a class="btn btn1" href="grade1.html">Grade 1</a>
            <a class="btn btn2" href="grade2.html">Grade 2</a>
            <a class="btn btn3" href="">Grade 3</a>
            <a class="btn btn4" href="">Grade 4</a>
            <a class="btn btn5" href="">Grade 5</a>
            <a class="btn btn6" href="">Grade 6</a>
            <a class="btn btn7" href="">Grade 7</a>
            <a class="btn btn8" href="index.html">Back</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
